/* font-family: 'Roboto Condensed', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
div.wrapper {
    font-family: 'Roboto Condensed', sans-serif;
    /* max-width: 1240px; */
    /* margin: 0 auto; */
    background-color: rgb(4, 225, 175);


}

section.header {
    height: 100vh;
}

/* nawigacja */
nav {
    height: 100px;
    max-width: 1240px;
    margin: 0 auto;
    background-color: rgb(4, 225, 175);
    text-align: center;
    overflow: hidden;
    /* font-size: 0; */

}

nav a {
    display: inline-block;
    flex-direction: row;
    line-height: 100px;
    width: 20%;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(12, 12, 12);
    letter-spacing: 2px;
    transition: .2s;
}

nav a:nth-child(1) {
    margin-right: 5%;
}

nav a:hover {
    background-color: rgb(12, 12, 12);
    color: rgb(4, 225, 175);
}

div.banner {
    height: calc(100vh - 100px);
    position: relative;
}

.imgbanner {
    height: calc(100vh - 100px);
    background-image: url(img/banner.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 -80px;
    min-width: 100%;
    min-height: 100%;
}

.question {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    padding: 20px;
    background-color: rgba(4, 225, 175, 0.6);
    text-align: center;
    border-radius: 20px;
}

.question h1 {
    /* padding: 20px; */
    color: rgb(12, 12, 12);
    font-size: 60px;

}

.question button {
    display: block;
    width: 40%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px 20px;
    font-size: 20px;
    background-color: rgb(12, 12, 12);
    border-style: none;
    color: rgb(4, 225, 175);
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
    border-radius: 10px;
    letter-spacing: 4px;
    box-shadow: 0 0 0 0px rgb(4, 225, 175), 0 0 0 0px rgb(12, 12, 12);
    transition: .2s;
}

.question button:hover {
    box-shadow: 0 0 0 2px rgb(4, 225, 175), 0 0 0 4px rgb(12, 12, 12);
}

/* SEKCJA PSY */
section.dogs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 0;
    height: 80vh;
}

.fdogs {
    display: flex;
    justify-content: center;
}

.fdogs .first {
    background-image: url(img/psy/pies1.jpeg);
    width: 22%;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.fdogs .second {
    background-image: url(img/psy/pies1.jpeg);
    width: 22%;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.fdogs .third {
    background-image: url(img/psy/pies1.jpeg);
    width: 22%;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.fdogs .fourth {
    background-image: url(img/psy/pies1.jpeg);
    width: 22%;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.sdogs {
    display: flex;
    justify-content: center;
}

.sdogs .first {
    background-image: url(img/psy/pies1.jpeg);
    width: 22%;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.sdogs .second {
    background-image: url(img/psy/pies1.jpeg);
    width: 22%;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.sdogs .third {
    background-image: url(img/psy/pies1.jpeg);
    width: 22%;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.sdogs .fourth {
    background-image: url(img/psy/pies1.jpeg);
    width: 22%;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
}


/* SEKCJA KOTY */
section.cats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0 20px 0;
    height: 80vh;
}

.fcats {
    display: flex;
    justify-content: space-around;
}

.fcats .first {
    background-image: url(img/psy/pies1.jpeg);
    width: 22%;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.fcats .second {
    background-image: url(img/psy/pies1.jpeg);
    width: 22%;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.fcats .third {
    background-image: url(img/psy/pies1.jpeg);
    width: 22%;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.fcats .fourth {
    background-image: url(img/psy/pies1.jpeg);
    width: 22%;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.scats {
    display: flex;
    justify-content: space-around;
}

.scats .first {
    background-image: url(img/psy/pies1.jpeg);
    width: 22%;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.scats .second {
    background-image: url(img/psy/pies1.jpeg);
    width: 22%;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.scats .third {
    background-image: url(img/psy/pies1.jpeg);
    width: 22%;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.scats .fourth {
    background-image: url(img/psy/pies1.jpeg);
    width: 22%;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
}

/* FOOTER */
footer {
    position: relative;
    height: 80px;
    background-color: rgb(12, 12, 12);
    color: white;
    text-align: center;
    line-height: 80px;
}

footer button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    background-color: rgb(4, 225, 175);
    color: rgb(12, 12, 12);
    text-transform: uppercase;
    border-style: none;
    border-radius: 10px;
    letter-spacing: 4px;
    padding: 5px 20px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 0 0px rgb(12, 12, 12), 0 0 0 0px rgb(4, 225, 175);
    transition: .2s;
}

footer button:hover {
    box-shadow: 0 0 0 2px rgb(12, 12, 12), 0 0 0 4px rgb(4, 225, 175);
}